@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.MainAbout{
    padding-top: 149px;
    
}
.sectionAbout>.div1>img{
    width: 30%;
    border-radius: 25px;
    margin-right: 5%;
    
}
.sectionAbout>.div1>img:hover{
    width: 30.5%;
    cursor: pointer;
}

.sectionAbout>.div1{
    background-color: #301934;
    margin-left: 0px;
    width: 100%;
    height: 270px;
    padding: 1%;
}
.sectionAbout>.div2{
    font-family: 'roboto';
    width: 80%;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 13%;
    

}



@media only screen and  (min-width: 10px) and (max-width: 700px){
    body{
        width: 100%;
    }

    .sectionAbout>.div1 {
        background-color: #301934;
        margin-left: 0%;
        width: 100%;
        height: 215px;
        padding: 1%;
    }
    
    
    .sectionAbout>.div1>img{
        width: 100%;
        border-radius: 5px;
        margin-right: 5%;
        
    }
    
    
    .MainAbout{
        padding-top: 85px;
        
    }
  
    .div2>p{
        font-size: 1rem;

    }
    #div-about>p{
        font-size: 15px;

    }
   
    
    
    

}




